.screen {
  width: 300px;
  height: 400px;
  padding: $normal-padding;
  padding-top: calc(#{$normal-padding * 2} + 10px);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: midnightblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  transition: transform 200ms ease-out;

  &--open {
    transform: translateY(0);
  }

  &__exit-button {
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 0;
    background-color: transparent;
    color: #fff;
    font-size: 100%;
    cursor: pointer;
  }
}
